.indent-small {
    margin-left: 5px;
  }
  .form-group.internal {
    margin-bottom: 0;
  }
  
  .dialog-panel {
    margin: 10px;
  }
  
  .datepicker-dropdown {
    z-index: 200 !important;
  }
  
  .panel-body {
    background: #e5e5e5; /* Old browsers */
    background: -moz-radial-gradient(
      center,
      ellipse cover,
      #e5e5e5 0%,
      #ffffff 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
      radial,
      center center,
      0px,
      center center,
      100%,
      color-stop(0%, #e5e5e5),
      color-stop(100%, #ffffff)
    ); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      #e5e5e5 0%,
      #ffffff 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(
      center,
      ellipse cover,
      #e5e5e5 0%,
      #ffffff 100%
    ); /* Opera 12+ */
    background: -ms-radial-gradient(
      center,
      ellipse cover,
      #e5e5e5 0%,
      #ffffff 100%
    ); /* IE10+ */
    background: radial-gradient(
      ellipse at center,
      #e5e5e5 0%,
      #ffffff 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
    font: 600 15px "Open Sans", Arial, sans-serif;
  }
  
  label.control-label {
    font-weight: 600;
    color: #777;
  }

  .cola {
    opacity: 0;
    color: red;
  }
  
  #color1 {
    opacity: 0;
    color: red;
  }

  #color2 {
    opacity: 0;
    color: red;
  }

  #color3 {
    opacity: 0;
    color: red;
  }
 
  #color4 {
    opacity: 0;
    color: red;
  }

  #color5 {
    opacity: 0;
    color: red;
  }

  #color6 {
    opacity: 0;
    color: red;
  }

  #color7 {
    opacity: 0;
    color: red;
  }

  #color8 {
    opacity: 0;
    color: red;
  }

  #color9 {
    opacity: 0;
    color: red;
  }

  #color10 {
    opacity: 0;
    color: red;
  }

  #color11 {
    opacity: 0;
    color: red;
  }

  #color12 {
    opacity: 0;
    color: red;
  }

  #color13 {
    opacity: 0;
    color: red;
  }

  #color74 {
    opacity: 0;
    color: red;
  }

  #color15 {
    opacity: 0;
    color: red;
  }

  #color16 {
    opacity: 0;
    color: red;
  }

  #color17 {
    opacity: 0;
    color: red;
  }

  #color27 {
    opacity: 0;
    color: red;
  }

  #color122 {
    opacity: 0;
    color: red;
  }

  #color111 {
    opacity: 0;
    color: red;
  }

  #color155 {
    opacity: 0;
    color: red;
  }

  #color_11 {
    opacity: 0;
    color: red;
  }
